= simple_form_for(resource, :as => resource_name, :url => user_registration_path, :html => {:id => "sign_up_user"}, :format => :json, :remote => true)  do |f|  
  = devise_error_messages!
  = f.input  :name, placeholder: 'Name', :autofocus => true
  = f.input  :email, placeholder: 'Email'
  = f.input  :password, placeholder: 'Password'
  = f.input  :password_confirmation, placeholder: 'Type Password Again'
  = f.button :submit, input_html: { class: 'btn btn-primary btn-success' }
  - 2.times do
    %br
  .modal-footer
    = render 'user/shared/links'