= simple_form_for(@user, :url => update_profile_path, :method => :patch) do |f|
  = f.input :name
  = f.input :full_address, placeholder: 'e.g 714 Green St, Big Town, MO'
  = f.input :about, placeholder: 'Tell me more about yourself :)'
  = f.input :avatar 
  = f.button :submit, "Submit!", input_html: { class: 'btn btn-primary' }
